include mixins
extends layout
block content   

            include navbar

            h3 Connection history
            br

            div
                table#pickle.table.table-hover.table-striped.table-bordered
                    thead
                        tr.success  
                            th Auth Code
                            th Connection Attempt Time
                            th Result
                    tbody
                        -each result in results
                            tr
                                    td=result.AuthCode
                                    td=result.ConnectionAttemptTime
                                    td=result.Result
                script.
                    $(document).ready(function() {
                    $('#pickle').DataTable();
                    });
                script.
                    $(document).ready(function() {
                    $('#pickle tr').click(function() {
                    var href = $(this).find("a").attr("href");
                        if(href) {
                            window.location = href;
                        }
                    });
                    });
           