include mixins
extends layout
block content 
            include navbar
            
            h3 Evacuation list set-up
            br

            


            .row
                
                .col-md-4.col-sm-6.col-xs-12
                  form.form-horizontal
                    fieldset
                        .well
                          | Import from CSV file

                        .form-group
                          label.col-lg-2.control-label(for='inputEmail') Directory
                          |       
                          .col-lg-10
                            input#inputEmail.form-control(type='text', name='directorySource', placeholder='')

                        |     
                        .form-group
                          label.col-lg-2.control-label(for='inputPassword') File
                          |      
                          .col-lg-10
                            input(type='file', name='fileName')
                        
                        .form-group
                          .col-lg-10.col-lg-offset-2
                            button.btn.btn-default(type='reset') Cancel
                            |         
                            button.btn.btn-primary(type='submit') Process file now
                 
                .col-md-4.col-sm-6.col-xs-12
              
                  form.form-horizontal
                    fieldset
                        .well
                          | Access from PACS  
                        .form-group
                          label.col-lg-2.control-label(for='select') Selects
                          |       
                          .col-lg-10
                            select#select.form-control
                              option Lenel
                              |           
                              option Honeywell
                              |           
                              option Johnson Controls P2000
                              |           
                              option Gallagher
                              |           
                              option Other

                        .form-group
                          label.col-lg-2.control-label(for='inputEmail') Endpoint
                          |       
                          .col-lg-10
                            input#inputEmail.form-control(type='text')
                        |     


                        .form-group
                          label.col-lg-2.control-label(for='inputEmail') User
                          |       
                          .col-lg-10
                            input#inputEmail.form-control(type='text')
                        |     
                        .form-group
                          label.col-lg-2.control-label(for='inputPassword') Password
                          |       
                          .col-lg-10
                            input#inputPassword.form-control(type='password', placeholder='Password')
                            |         
                            .checkbox
                              label
                                input(type='checkbox')
                                |  SSL
                        
                        
                        |     
                        .form-group
                          .col-lg-10.col-lg-offset-2
                            button.btn.btn-default(type='reset') Cancel
                            |         
                            button.btn.btn-primary(type='submit') Submit

              h5(style="color: #CC3300;") #{sess.error}
              h5(style="color: #00CC99;") #{sess.success}
              
              include footer


