include mixins
extends layout
block content 
            include navbar
            .jumbotron
              h3 Load or update cardholder photos 

            form(method='post') 
              h5 Enter the source directory for your photos and submit!
                br
                input(type='directory', name='directorySource')
                br
                br
                button.btn.btn-lg.btn-primary(type="submit") Process photos now

              br
              br
              h5(style="color: #CC3300;") #{sess.photosError}
              h5(style="color: #00CC99;") #{sess.photosSuccess}
              include footer

 