#userbar
	| Welcome &nbsp;
	b  #{username}
	|  |
	a(href='/dashboard') &nbsp Dashboard &nbsp;
	|  |
	a(href='/csv') &nbsp CSV &nbsp;
	|  |
	a(href='/photos') &nbsp Photos &nbsp;
	|  |
	a(href='/photoCheck') &nbsp Photo Check &nbsp;
	|  |
	a(href='/inviteHome') &nbsp Invitations &nbsp;
	|  |
	a(href='/dashboard')  &nbsp Reports &nbsp;
	|  |
	a(href='/logout')  &nbsp Log Out &nbsp;